/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/



*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family:"Lato",sans-serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.7;
    color: rgb(92, 90, 90);
    padding: 30px;
    border: 2px solid orange
}

.header{
    position: relative;
    height: 95vh;
    background-image:linear-gradient(
        to right bottom, 
        #7ed56fc2,
        #28b485b7),
        url(../img/hero.jpg) ;
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0,100vw 0,100vw 75vh,0 100%)
}


.logo-box{
    position: absolute;
    top: 40px;
    left: 40px;
    
}

.logo{

    height: 35px;

}

.text-box{

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-100%);
    text-align: center

}
.heading-primary{
    color: #fff;
    text-transform: uppercase;
   margin-bottom: 60px;

}

.heading-primary-main{

    display: block;
    font-size: 60px;
    font-weight: 400;
    letter-spacing: 35px;
    animation-name: moveInLeft;
    animation-duration: 2s; 
    animation-timing-function:ease-out
    
   
   

}
.heading-primary-sub{
    display: block;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 19px;
    animation: moveInRight 2s ease-out;
  
    
    /*
      animation-name: moveInRight;
    animation-duration: 3s;
    animation-timing-function:step-end
    animation-iteration-count: 3;
    animation-delay: 2s;
    */

}

@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px)
    }

    95%{
        transform: translateX(100px)

    }

    100%{
        opacity: 1;
        transform: translate(0)
    }


}


@keyframes moveInRight {
    0%{
        opacity: 0;
        transform: translateX(100px)

    }

    95%{
        transform: translateX(-100px)
    }

    100%{
        opacity: 1;
        transform: translate(0);
        
    }
    
}

@keyframes moveInUp {
    0%{
        opacity: 0;
        transform: translateY(100px)

    }

    95%{
        transform: translateY(80px);
        opacity: 0.2;
       
    }

    100%{
        opacity: 1;
        transform: translate(0);
        
    }
    
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding:15px 40px;
    display: inline-block;
    border-radius: 50px;
    transition: all .2s;
    position: relative;
}

.btn:hover{
    transform: translateY(-3px);
    box-shadow: 0 -10px 15px rgba(0, 0, 0, .4)
}

.btn:active{
    transform: translateY(-1px);
    box-shadow: 0 -5 0 rgba(0, 0, 0, .1)
}

.btn-white{
    background-color: #fff;
    color: grey;
    animation:moveInUp 2s ease-out

}

.btn::after{
    content:"";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left:0;
    z-index: -1;
    transition: all .2s
}

.btn-white::after{
    background-color: #fff;
}

.btn:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0

}