.img-box__nat {
  position: absolute;
  display: inline-block;
  width: 30rem;
  padding: 0.5rem;
  box-shadow: 1rem 1rem 3rem rgba(0, 0, 0, 0.5);
  transition: all .4s;
  background-color: #fff; }
  .img-box__nat:hover {
    transform: scale(1.3);
    border: 1rem solid #7ed56f;
    z-index: 1000; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  95% {
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  95% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  95% {
    transform: translateY(8rem);
    opacity: 0.2; }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #5c5a5a;
  padding: 3rem; }

.u-center-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 5rem; }

.u-margin-bottom-small {
  margin-bottom: 2rem; }

.u-skewed {
  transform: skew(10deg); }

.z--1 {
  z-index: 100;
  top: 1px;
  left: 1px; }

.z--2 {
  z-index: 200;
  top: 50px;
  left: 270px; }

.z--3 {
  z-index: 300;
  top: 100px;
  left: 150px; }

.z--4 {
  z-index: 300;
  top: 70px;
  left: 250px; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center; }

.container {
  max-width: 80%;
  margin: 0 auto; }
  .container .row {
    width: 100%; }
    .container .row::after {
      content: "";
      display: block;
      clear: both; }
    .container .row:not(:last-child) {
      margin-bottom: 1rem; }
    .container .row [class^='col-'] {
      float: left; }
      .container .row [class^='col-']:not(:last-child) {
        margin-right: 5rem; }
    .container .row .col-1-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 1) + ((1 - 1) * 5rem)); }
    .container .row .col-2-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 2) + ((2 - 1) * 5rem)); }
    .container .row .col-3-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 3) + ((3 - 1) * 5rem)); }
    .container .row .col-4-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 4) + ((4 - 1) * 5rem)); }
    .container .row .col-5-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 5) + ((5 - 1) * 5rem)); }
    .container .row .col-6-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 6) + ((6 - 1) * 5rem)); }
    .container .row .col-7-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 7) + ((7 - 1) * 5rem)); }
    .container .row .col-8-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 8) + ((8 - 1) * 5rem)); }
    .container .row .col-9-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 9) + ((9 - 1) * 5rem)); }
    .container .row .col-10-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 10) + ((10 - 1) * 5rem)); }
    .container .row .col-11-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 11) + ((11 - 1) * 5rem)); }
    .container .row .col-12-of-12 {
      width: calc((calc((100% - ((12 - 1) * 5rem)) / 12) * 12) + ((12 - 1) * 5rem)); }

.main {
  background-color: #f7f7f7;
  margin-top: -20vh;
  padding-top: 15rem; }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1rem; }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 8rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 3rem;
    display: inline-block; }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-right: 1.5rem; }
  .footer__link {
    transition: all .3s; }
    .footer__link:link, .footer__link:visited {
      color: #f7f7f7;
      text-decoration: none;
      display: inline-block;
      text-transform: uppercase; }
    .footer__link:hover, .footer__link:active {
      color: #55c57a;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
      transform: rotate(5deg) scale(1.3); }
  .footer__copyright {
    color: #f7f7f7;
    border-top: 1px solid #f7f7f7;
    padding-top: 3rem;
    width: 80%;
    float: right; }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.3rem;
  padding: 1.3rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative; }

.btn--animated {
  animation: moveInUp 2s ease-out;
  box-shadow: 0 -0.8rem 2rem rgba(0, 0, 0, 0.4); }
  .btn--animated:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 -0.8rem 0.9rem rgba(0, 0, 0, 0.4); }
    .btn--animated:hover::after {
      transform: scaleX(2) scaleY(2);
      opacity: 0; }
  .btn--animated:active {
    transform: translateY(-1px);
    box-shadow: 0 -0.5rem 0.3rem rgba(0, 0, 0, 0.1); }
  .btn--animated::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    z-index: -1;
    transition: all .2s; }

.btn--animated--simple {
  box-shadow: 0 -0.8rem 2rem rgba(0, 0, 0, 0.4); }
  .btn--animated--simple:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 -0.8rem 0.9rem rgba(0, 0, 0, 0.4); }
    .btn--animated--simple:hover::after {
      transform: scaleX(2) scaleY(2);
      opacity: 0; }
  .btn--animated--simple:active {
    transform: translateY(-1px);
    box-shadow: 0 -0.5rem 0.3rem rgba(0, 0, 0, 0.1); }
  .btn--animated--simple::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    z-index: -1;
    transition: all .2s; }

.btn--white {
  background-color: #fff;
  color: grey; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #7ed56f;
  margin-top: 6rem;
  color: white; }
  .btn--green::after {
    background-color: white; }

.btn-text {
  transition: all .2s; }
  .btn-text:link, .btn-text:visited {
    font-size: 1.3rem;
    color: white;
    display: inline-block;
    text-decoration: none;
    background-image: linear-gradient(to right, #55c57a, #7ed56f);
    border-bottom: 1px solid #55c57a;
    padding: .5rem; }
  .btn-text:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    color: white; }
  .btn-text:active {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2); }

.heading-primary {
  color: white;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.9rem;
    animation: moveInRight 2s ease-out;
    color: white; }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: .2rem;
  transition: all .2s; }
  .heading-secondary:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    text-shadow: 0.5rem 1rem 2rem rgba(92, 90, 90, 0.3); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.img-box {
  position: relative; }

.feature-box {
  background-color: white;
  opacity: .8;
  width: 100%;
  margin-top: 15rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.5);
  transition: all .3s ease;
  opacity: 0.8 !important; }
  .feature-box__img {
    font-size: 8rem;
    display: inline-block;
    text-align: center;
    background-image: linear-gradient(to right, #55c57a, #7ed56f);
    -webkit-background-clip: text;
    color: transparent; }
  .feature-box:hover {
    transform: scale(1.2) !important; }
  .feature-box__text {
    font-size: 1rem; }

.card {
  color: white;
  position: relative;
  height: 50rem;
  perspective: 100rem;
  -webkit-perspective: 100rem; }
  .card:hover .card__front {
    transform: rotateY(-180deg); }
  .card:hover .card__back {
    transform: rotateY(0deg); }
  .card__front {
    border-radius: 3px;
    height: 50rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    transition: all 1s ease; }
  .card__back {
    border-radius: 3px;
    height: 50rem;
    transform: rotateY(180deg);
    position: absolute;
    top: 0;
    left: 0;
    backface-visibility: hidden;
    width: 100%;
    transition: all 1s ease; }
    .card__back--1 {
      background: #642B73;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right bottom, #C6426E, #642B73);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right bottom, #C6426E, #642B73);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .card__back--2 {
      background: #FF512F;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right bottom, #DD2476, #FF512F);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right bottom, #DD2476, #FF512F);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
    .card__back--3 {
      background: #348F50;
      /* fallback for old browsers */
      background: -webkit-linear-gradient(to right bottom, #56B4D3, #348F50);
      /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right bottom, #56B4D3, #348F50);
      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ }
  .card__img {
    height: 40%;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%); }
    .card__img--1 {
      background-image: linear-gradient(to right bottom, rgba(198, 66, 110, 0.5), rgba(100, 43, 115, 0.3)), url("../../img/nat-5.jpg");
      background-position: top;
      background-size: cover;
      background-blend-mode: color-dodge; }
    .card__img--2 {
      background-image: linear-gradient(to right bottom, rgba(221, 36, 118, 0.5), rgba(255, 81, 47, 0.3)), url("../../img/nat-6.jpg");
      background-position: top;
      background-size: cover;
      background-blend-mode: color-dodge; }
    .card__img--3 {
      background-image: linear-gradient(to right bottom, rgba(86, 180, 211, 0.5), rgba(52, 143, 80, 0.3)), url("../../img/nat-7.jpg");
      background-position: top;
      background-size: cover;
      background-blend-mode: color-dodge; }
  .card__details ul {
    width: 50%;
    text-align: center;
    padding: 4rem 0;
    margin: 0 auto;
    font-size: 1.6rem;
    color: black;
    list-style-type: none; }
    .card__details ul li {
      padding: 1rem 0; }
      .card__details ul li:not(:last-child) {
        border-bottom: 0.2px solid rgba(128, 128, 128, 0.938); }
  .card__splash {
    position: absolute;
    top: 10rem;
    left: 10rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    font-weight: 300;
    padding: 1rem .9rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    .card__splash--1 {
      background-image: linear-gradient(to right, rgba(198, 66, 110, 0.9), rgba(100, 43, 115, 0.9)); }
    .card__splash--2 {
      background-image: linear-gradient(to right, rgba(86, 180, 211, 0.9), rgba(52, 143, 80, 0.9)); }
    .card__splash--3 {
      background-image: linear-gradient(to right, rgba(221, 36, 118, 0.9), rgba(255, 81, 47, 0.9)); }

.cat {
  width: 25rem;
  margin: 40% auto;
  text-align: center; }
  .cat__only {
    display: block;
    font-size: 3rem;
    margin-bottom: 10rem;
    text-align: center; }
  .cat__price {
    display: block;
    margin-bottom: 5rem;
    text-align: center;
    font-size: 5rem;
    font-weight: 100; }

.story {
  margin: 0 auto;
  width: 90%;
  padding: 5rem 5rem;
  background-color: white;
  box-shadow: 1rem 1rem 1rem rgba(212, 211, 211, 0.8);
  margin-bottom: 5rem;
  opacity: .8; }
  .story:hover .story__caption {
    transform: translateX(-40px) translateY(-40px);
    opacity: 1; }
  .story:hover .story__picture {
    transform: scale(1);
    filter: blur(3px) brightness(80%); }
  .story__avatar {
    transform: skew(-10deg);
    float: left;
    position: relative;
    clip-path: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    margin-right: 2rem; }
  .story__picture {
    width: 20rem;
    height: 15rem;
    transform: scale(1.4);
    transition: all .3s;
    backface-visibility: hidden;
    overflow: hidden; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    transform: translateX(-40px) translateY(50px);
    transition: all .3s;
    opacity: 0; }
  .story__text {
    transform: skew(-10deg); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 10rem;
  height: 100%;
  overflow: hidden; }
  .bg-video__content {
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: .6; }

.form {
  width: 90%;
  margin: 0 auto;
  padding: 1rem 0; }
  .form__label {
    display: block;
    margin-left: 1.5rem;
    opacity: 1;
    transition: all .3s;
    margin-top: .4rem; }
  .form__input {
    display: block;
    outline: none;
    width: 70%;
    height: 4rem;
    border: none;
    padding: 1rem 1.5rem;
    border-radius: 1.5px;
    font-size: 1.6rem;
    transition: all .2s; }
    .form__input:focus:invalid {
      border-bottom: 2px solid orangered; }
    .form__input:focus:valid {
      border-bottom: 2px solid #07b300; }
    .form__input:focus {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }
    .form__input::-webkit-input-placeholder {
      font-size: 1.6rem;
      color: lightgray;
      font-weight: 400; }
  .form__input:placeholder-shown + .form__label {
    opacity: 0;
    transform: translateY(-7px); }
  .form__radio-btn {
    border: 5px solid #55c57a;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
    position: absolute;
    top: -7px;
    left: -7px;
    cursor: pointer; }
    .form__radio-btn::after {
      content: "";
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      background-color: #55c57a;
      border-radius: 50px;
      position: absolute;
      top: 2.2px;
      left: 2.4px;
      opacity: 0;
      transition: opacity 0.3s; }
  .form__radio-label {
    display: inline-block;
    margin-left: 3rem;
    font-size: 1.6rem; }
  .form__hidden-radio {
    display: inline-block;
    display: none; }
  .form__hidden-radio:checked + .form__radio-label > .form__radio-btn::after {
    opacity: 1; }

.section-about {
  background-color: #f7f7f7;
  padding: 20rem 0;
  margin-top: -20vh; }

.section-feature {
  background-image: linear-gradient(to right top, rgba(126, 213, 111, 0.5), rgba(85, 197, 122, 0.5)), url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  transform: skewY(-7deg);
  height: 85vh;
  margin-bottom: 15rem; }
  .section-feature .container {
    transform: skewY(7deg); }

.section-stories {
  position: relative; }

.section-booking {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
  margin-top: 10rem; }

.booking {
  width: 80%;
  height: 50rem;
  margin: 0 auto;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0.9) 50%, transparent 50%), url("../img/nat-10.jpg");
  background-size: cover;
  box-shadow: 0 0.4rem 5rem rgba(0, 0, 0, 0.7);
  border-radius: 3px; }

.content {
  width: 50%;
  padding: 3rem 0; }

.form-group:not(:last-child) {
  margin-bottom: 1rem; }

.radio-group {
  display: inline-block;
  margin-left: 2rem;
  position: relative; }
  .radio-group:not(:last-child) {
    margin-right: 7rem; }
