@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  95% {
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  95% {
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  95% {
    transform: translateY(8rem);
    opacity: 0.2; }
  100% {
    opacity: 1;
    transform: translate(0); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.7;
  color: #5c5a5a;
  padding: 3rem; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100vw 0, 100vw 75vh, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    height: 3.5rem; }
  .header__text-box {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center; }

.container {
  max-width: 100%;
  margin: 0 auto; }
  .container .row {
    width: 100%;
    background-color: #eee; }
    .container .row::after {
      content: "";
      display: block;
      clear: both; }
    .container .row:not(:last-child) {
      margin-bottom: 5rem; }
    .container .row div {
      height: 5rem;
      background-color: #249906;
      float: left; }
    .container .row [class^='col-']:not(:last-child) {
      margin-right: 2rem; }
    .container .row .col-1-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 1) + ((1 - 1) * 2rem)); }
    .container .row .col-2-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 2) + ((2 - 1) * 2rem)); }
    .container .row .col-3-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 3) + ((3 - 1) * 2rem)); }
    .container .row .col-4-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 4) + ((4 - 1) * 2rem)); }
    .container .row .col-5-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 5) + ((5 - 1) * 2rem)); }
    .container .row .col-6-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 6) + ((6 - 1) * 2rem)); }
    .container .row .col-7-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 7) + ((7 - 1) * 2rem)); }
    .container .row .col-8-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 8) + ((8 - 1) * 2rem)); }
    .container .row .col-9-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 9) + ((9 - 1) * 2rem)); }
    .container .row .col-10-of-10 {
      width: calc((calc((100% - ((10 - 1) * 2rem)) / 10) * 10) + ((10 - 1) * 2rem)); }

.btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all .2s;
  position: relative; }

.btn--animated {
  animation: moveInUp 2s ease-out;
  box-shadow: 0 -0.8rem 2rem rgba(0, 0, 0, 0.4); }
  .btn--animated:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 -0.8rem 0.9rem rgba(0, 0, 0, 0.4); }
    .btn--animated:hover::after {
      transform: scaleX(2) scaleY(2);
      opacity: 0; }
  .btn--animated:active {
    transform: translateY(-1px);
    box-shadow: 0 -0.5rem 0.3rem rgba(0, 0, 0, 0.1); }
  .btn--animated::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    z-index: -1;
    transition: all .2s; }

.btn--white {
  background-color: #fff;
  color: grey; }
  .btn--white::after {
    background-color: white; }

.heading-primary {
  color: #5c5a5a;
  text-transform: uppercase;
  margin-bottom: 60px; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveInLeft;
    animation-duration: 2s;
    animation-timing-function: ease-out; }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.9rem;
    animation: moveInRight 2s ease-out;
    color: white; }
