@mixin col_base{
    //height:$row-height;
    //background-color:$col-bg-color;
    float: left;
    
   
}


@mixin clearfix{

    &::after{
        content:"";
        display: block;
        clear: both
    }

}


@mixin read-more{
    padding: .6rem;
    background-image: linear-gradient(to right,$color-primary-dark,$color-primary-light);
    color: $color-white;
    font-weight: 500;
    text-decoration: none;
    transition: all .2s;
    display: inline-block;
    

    &:hover{
        transform:translateY(-2px);
        box-shadow: 0 .2rem 1rem rgba(0,0,0,.5);
    }

    &:active{
        transform:translateY(-.5px);
        box-shadow: 0 .2rem .5rem rgba(0,0,0,.5);
    }


}


@mixin grid{

    .row{
        width:100%;
        //background-color: $color-bg-row;
        @include clearfix;
      

        &:not(:last-child){
    margin-bottom:$vertical-gutter;

        }
        
        

        //div{
           
           //margin: $horizontal-gutter;
           //color: white;
       // }

        [class^='col-']{
            //@extend %red-color;
            @include col_base;
            &:not(:last-child){
                margin-right:$horizontal-gutter;
            }
        }
        

        .col-1-of-12{

            width: mult(1)

        };
        .col-2-of-12{
            width: mult(2)
        };
        .col-3-of-12{
            width: mult(3)
        };
        .col-4-of-12{
            width: mult(4)
        };
        .col-5-of-12{
            width: mult(5)

        };
        .col-6-of-12{
            width: mult(6)

        };
        .col-7-of-12{
            width: mult(7)

        };
        .col-8-of-12{
            width: mult(8)

        };
        .col-9-of-12{
            width: mult(9)

        };
        .col-10-of-12{
            width: mult(10)

        }; 
        .col-11-of-12{
            width: mult(11)

        };
        .col-12-of-12{
            width: mult(12)

        };
       

    }
}


@mixin absPos{
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}