@mixin col_base{
    height:$row-height;
    background-color:rgb(36, 153, 6);
    float: left;
    
   
}


@mixin clearfix{

    &::after{
        content:"";
        display: block;
        clear: both
    }

}