@mixin col_base{
    //height:$row-height;
    //background-color:$col-bg-color;
    float: left;
    
   
}


@mixin clearfix{

    &::after{
        content:"";
        display: block;
        clear: both
    }

}