$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:rgb(92, 90, 90);
$color-white:white;
$color-bg-main:#f7f7f7;
$col:12;
$row-height:5rem;
$horizontal-gutter:5rem;
$base_width:calc((100% - ((#{$col} - 1) * #{$horizontal-gutter})) / #{$col});
$max-width:80%;
$vertical-gutter:5rem;

