$color-primary:#55c57a;
$color-primary-light:#7ed56f;
$color-primary-dark:#28b485;
$color-grey-dark:rgb(92, 90, 90);
$color-white:white;
$base_width:10%;
$max-width:130rem;
$horizontal-gutter:1.3rem;
$vertical-gutter:2rem;
