.button-circle{
    z-index: 10000;
   




    &__checkbox{
        display: none;

    }

    &__label{
        position: fixed;
        top: 4rem;
        right: 4rem;
        width: 7rem;
        height: 7rem;
        border-radius: 50px;
        background-color: $color-white;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        z-index: 10000;
    box-shadow: 0 0 1rem rgba($color-grey-dark,.9)
    }





        &__bars{
           position: relative;
           margin-top: 3.5rem;
           display: block;
           
           
            

            &,
            &::before,
            &::after{
                display: inline-block;
                width: 3rem;
                height: 2px;
                background-color: $color-grey-dark;
                transition: all .1s;
                //position: absolute;
                
                


            }

            &::after,
            &::before{
                content: "";
                position: absolute;
                left: 0
                
            }
          

            &::after{transform: translateY(.7rem)}
            &::before{transform: translateY(-.7rem)}

        
    }

    &__checkbox:checked + &__label > &__bars{

        background-color: #fff;

    }
    &__checkbox:checked + &__label > &__bars::before{
        transform: rotate(140deg)
    }
    &__checkbox:checked + &__label > &__bars::after{
        transform: rotate(-140deg)
    }

    &__background{
        position: fixed;
        top: 4.5rem;
        right:4.5rem ;
        width:4.5rem ;
        height: 4.5rem;
        background-image: radial-gradient($color-primary-light,$color-primary);
        border-radius: 50px;
        z-index: 100;
        transition: all .3s cubic-bezier(0.86, 0.575, 0.565, 1);
        
    
    }
    &__checkbox:checked ~ &__background{
        transform:scale(100)

    }
    &__checkbox:checked ~ .navigation {
        opacity: 1;
        width: 100%;
       
    }
}

