.btn {
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 1.5rem 4rem;
        display: inline-block;
        border-radius: 5rem;
        transition: all .2s;
        position: relative;
    }
    &--animated {
        animation: moveInUp 2s ease-out;
        box-shadow: 0 -.8rem 2rem rgba(0, 0, 0, .4);
        &:hover {
            transform: translateY(-.3rem);
            box-shadow: 0 -.8rem .9rem rgba(0, 0, 0, .4);
            &::after {
                transform: scaleX(2) scaleY(2);
                opacity: 0
            }
        }
        &:active {
            transform: translateY(-1px);
            box-shadow: 0 -.5rem .3rem rgba(0, 0, 0, .1)
        }
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 5rem;
            z-index: -1;
            transition: all .2s
        }
    }
    &--white {
        background-color: #fff;
        color: grey;
        &::after {
            background-color: rgb(255, 255, 255);
        }
    }
}