
.heading-primary {
    color: $color-grey-dark;
    text-transform: uppercase;
    margin-bottom: 60px;
    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 2s;
        animation-timing-function: ease-out
    }
    &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.9rem;
        animation: moveInRight 2s ease-out;
        color: $color-white
    }
}