.section-about{
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}



.section-feature{

    background-image: linear-gradient(to right top,rgba($color-primary-light,.5),rgba($color-primary,.5)),url(../img/nat-4.jpg);
   //background-blend-mode:difference;
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    height: 85vh;
    //padding: 15rem;
    margin-bottom: 15rem;

    .container{
        transform: skewY(7deg);
    }

    // &:hover .feature-box:not(:hover){
    //     transform: scale((.8))
    // }

}

.section-tours{
    


}


.section-stories{
    //background-color: red;
    position: relative;
    //padding: 5rem 0;

}


.section-booking{
    padding: 15rem 0;
    background-image: linear-gradient(to right bottom,$color-primary-light,$color-primary-dark);
    margin-top: 10rem;
    

}

.booking{
        width: 80%;
        height: 50rem;
       margin: 0 auto;
        background-image: linear-gradient(100deg,rgba($color-white,.9) 50%,transparent 50%),url("../img/nat-10.jpg");
        background-size: cover;
        box-shadow: 0 .4rem 5rem rgba(0, 0, 0, 0.7);
        border-radius: 3px;

}

.content{
    width: 50%;
    padding: 3rem 0;
}


.form-group{
    &:not(:last-child){
        margin-bottom: 3rem;
    }


}

.radio-group{
    display: inline-block;
    &:not(:last-child){
        margin-right: 13rem;
    }

    position: relative;
    
}