.section-about{
    background-color: $color-grey-light-1;
    padding: 20rem 0;
    margin-top: -20vh;
}



.section-feature{

    background-image: linear-gradient(to right top,rgba($color-primary-light,.5),rgba($color-primary,.5)),url(../img/nat-4.jpg);
   //background-blend-mode:difference;
    background-size: cover;
    background-position: top;
    transform: skewY(-7deg);
    height: 85vh;
    //padding: 15rem;
    margin-bottom: 15rem;

    .container{
        transform: skewY(7deg);
    }

    // &:hover .feature-box:not(:hover){
    //     transform: scale((.8))
    // }

}

.section-tours{


}